
html { 
    width: 100%;
    height: 100%;
    background: url('bg1.png');
}

* {
    -webkit-tap-highlight-color: transparent; 
} 

.button {
    position: absolute;
    display: block;
    font-size: 14pt;
}

#line{
    height: 10%;
    background-color: aqua;
}

