
html { 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent; 
} 

hr, #text, .button_container {
    position: absolute;
}

hr {
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    border: none;
    color: #333;
    background-color: #FEFE22;
    z-index: 1;
}

.button {
    display: block;
    font-size: 14pt;
}

.button_container {
    top: 10%;
    z-index: 2;
}

#text {
    top: 0;
    z-index: 2;
}
#main_button{
  width: 130px;
  height: 40px;
  color: #FFF; /* текст в покое*/
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
#main_button{
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;   /*  градиент*/
  background: rgb(127,199,255);
  background: linear-gradient(0deg, rgba(127,199,255,1) 0%, rgba(127,199,255,1) 100%);
}
#main_button:hover {
  color: #FFF94a;  /* надпись после наведения*/
  background: transparent;
   box-shadow:none;
}
#main_button:before,
#main_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #FFF94a;  /* линии кооторые едут*/
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
#main_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#main_button:hover:before,
#main_button:hover:after{
   width:100%;
   transition:800ms ease all;
}

#about_button {
  width: 130px;
  height: 40px;
  color: #FFF; /* текст в покое*/
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
#about_button {
  width: 130px;
  height: 40px;
  line-height: 400px;
  padding: 0;
  border: none;   /*  градиент*/
  background: rgb(127,199,255);
  background: linear-gradient(0deg, rgba(127,199,255,1) 0%, rgba(127,199,255,1) 100%);
}
#about_button:hover {
  color: #FFF94a;  /* надпись после наведения*/
  background: transparent;
   box-shadow:none;
}
#about_button:before,
#about_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #FFF94a;  /* линии кооторые едут*/
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
#about_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#about_button:hover:before,
#about_button:hover:after{
   width:100%;
   transition:800ms ease all;
}

