<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="shortcut icon" href="http://www.nashdomuk.ru/image/news.jpg" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='company.css') }}">
        <div class="map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0356c28a8648c8796c0bb40de98a8fba18e3a49123ec49020ebdf4537321ae0&amp;width=1000&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </head>

    <body>
        <hr id="line" />
        <div class="button_container">
            <button class="button1" id="main_button">Главная</button>
            <button class="button1" id="about_button">О компании</button>
            <button class="button1" id="news_button">Новости</button>
            <button class="button1" id="reporting_button">Отчётность</button>
            <button class="button1" id="services_button">Услуги</button>
            <button class="button1" id="questions_button">Вопросы</button>
            <button class="button1" id="legislation_button">Законодательство</button>
            <button class="button1" id="gallery_button">Галерея</button>
            <button class="button1" id="glass_button"></button>
        </div>
        <div class="six"><h1 id="firm_name" data-name="АО «Арзамасский дом»"><span>АО «Арзамасский дом»</span></h1></div>
        <nav class="wave-nav bottom left white" role="navigation">
            <ul id="wave" class="right">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="wave-svg">
            <defs>
                <filter id="water">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9" result="goo"></feColorMatrix>
                    <feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite> </filter>
            </defs>
        </svg>
        <div class="company">
            <h1 id="news_company">Контакты</h1>
            <h2 id="office">Адрес основного офиса:</h2>
            <h3 id="address" >607220 Нижегородская область,</h3>
            <h3> г.Арзамас, ул. Куликова д.33А</h3>
            <h2 id="address_email">Адрес электронной почты:</h2>
            <h3 id="email">office@nashdomuk.ru</h3>
            <h2 id="work_time">Режим работы:</h2>
            <h3 id="time">Понедельник-четверг: 8.00-17.00 (обед 12.00-12.48)</h3>
            <h3 id="time2">Пятница:            8.00-16.00 (обед 12.00-12.48)</h3>
        </div>
        <div class="row_phone">
            <h2 id="phone">Телефоны:</h2>
            <h3>Приёмная: 8(83147) 7-51-25.</h3>
            <h3>Бухгалтерия: 8(83147) 7-51-30.</h3>
            <h3>Главный инженер, Экономический отдел: 8(83147) 7-51-26</h3>
            <h3>Производственный отдел: 8(83147) 7-51-28.</h3>
            <h3>Технический отдел: 8(83147) 7-51-29.</h3>
            <h3>Юридический отдел: 8(83147) 7-51-27.</h3>
            <h3>Аварийно-диспетчерская служба:  8(83147) 2-90-03</h3>
        </div>
        <hr id="background"/>
        <div class="button_container2">
            <button class="button2" id="news_button2">Новости</button>
            <button class="button2" id="documentation_button">Документы</button>
            <button class="button2" id="gallery_button2">Фотогалерея</button>
            <button class="button2" id="reviews_button">Отзывы</button>
            <button class="button2" id="info_button">Информация</button>
            <button class="button2" id="questions_button2">Вопросы</button>
        </div>
        <hr id="background_button">

    </body>
