<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="shortcut icon" href="http://www.nashdomuk.ru/image/news.jpg" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <div>
            <h1 id="txt">Арзмамасский дом</h1>
        </div>
        <hr id="line" />
        <div class="button_container">
            <button class="button1" id="main_button">Главная</button>
            <button class="button1" id="about_button">О компании</button>
            <button class="button1" id="news_button">Новости</button>
            <button class="button1" id="reporting_button">Отчётность</button>
            <button class="button1" id="services_button">Услуги</button>
            <button class="button1" id="questions_button">Вопросы</button>
            <button class="button1" id="legislation_button">Законодательство</button>
            <button class="button1" id="gallery_button">Галерея</button>
            <button class="button1" id="glass_button"></button>
        </div>

        <!--<div class="six"><h1 id="firm_name" data-name="АО «Арзамасский дом»"><span>АО «Арзамасский дом»</span></h1></div> -->
        <nav class="wave-nav bottom left white" role="navigation">
            <ul id="wave" class="right">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="wave-svg">
            <defs>
                <filter id="water">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9" result="goo"></feColorMatrix>
                    <feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite> </filter>
            </defs>
        </svg>
        <hr id="background">
        <img id="emblem" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Arzamas_COA_%281993%29.svg/800px-Arzamas_COA_%281993%29.svg.png"/>
        <div class="about_us">
            <h1 id="header">Уважаемые&nbspАрзамасцы!</h1>
        </div>
         <div class="text">
                <p>
                    Мы рады приветствовать вас на официальном сайте АО «Арзамасский дом», созданном для
                    наиболее полного и оперативного представления информации, связанной с управлением общим
                    имуществом многоквартирных домов.
                </p>
                <p>
                    Для вашего удобства, вся необходимая информация распределена по соответствующим
                    разделам. В разделе «О Компании» содержатся сведения о сотрудниках, а также перечень домов,
                    находящихся под её управлением. В разделе «Новости» вы можете получить самую актуальную
                    и достоверную информацию о жилищно-коммунальном хозяйстве в России и нашем городе. Так же
                    в этом разделе Вы можете найти объявления о мероприятиях, проводимых в домах. Разделы «Отчеты»
                    и «Документы» содержат полный объем отчетной документации, связанной с оказанием услуг
                    по поставке в дома коммунальных ресурсов и выполнением работ по содержанию и ремонту общего
                    имущества в многоквартирном доме. Эти данные домоуправляющая компания регулярно и своевременно
                    размещает на своем сайте в соответствие с требованиями российского законодательства.
                </p>
                <p>
                    Местоположение и график работы офисов обслуживания населения вы можете уточнить
                    в разделах «Контакты». Форма обратной связи позволяет написать сообщения нашим
                    сотрудникам прямо с сайта. Круглосуточно, по телефону 2-90-03, работает единая
                    справочная служба, в которой принимаются устные обращения по текущему ремонту,
                    «аварийные» заявки, предоставляются консультации по установке счетчиков горячего
                    и холодного водоснабжения теплоэнергии, консультации по вопросам в рамках компетенций
                    домоуправляющей компании.
                </p>
                <p>
                    Генеральный директор АО «Арзамасский дом», Котельников Александр Семёнович
                </p>
            </div>
<!--        <hr id="background_contacts">-->
<!--        <div class="contacts">-->
<!--            <h1 id="header_contacts">Контакты</h1>-->
<!--        </div>-->
        <div class="button_container2">
            <button class="button2" id="news_button2">Новости</button>
            <button class="button2" id="documentation_button">Документы</button>
            <button class="button2" id="gallery_button2">Фотогалерея</button>
            <button class="button2" id="reviews_button">Отзывы</button>
            <button class="button2" id="info_button">Информация</button>
            <button class="button2" id="questions_button2">Вопросы</button>
        </div>
        <hr id="background_button">



    </body>
