<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="shortcut icon" href="http://www.nashdomuk.ru/image/news.jpg" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='legislation.css') }}">
    </head>
    <body>
        <hr id="line" />
        <div class="button_container">
            <button class="button1" id="main_button">Главная</button>
            <button class="button1" id="about_button">О компании</button>
            <button class="button1" id="news_button">Новости</button>
            <button class="button1" id="reporting_button">Отчётность</button>
            <button class="button1" id="services_button">Услуги</button>
            <button class="button1" id="questions_button">Вопросы</button>
            <button class="button1" id="legislation_button">Законодательство</button>
            <button class="button1" id="gallery_button">Галерея</button>
            <button class="button1" id="glass_button"></button>
        </div>
        <div class="six"><h1 id="firm_name" data-name="АО «Арзамасский дом»"><span>АО «Арзамасский дом»</span></h1></div>
        <nav class="wave-nav bottom left white" role="navigation">
            <ul id="wave" class="right">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="wave-svg">
            <defs>
                <filter id="water">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9" result="goo"></feColorMatrix>
                    <feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite> </filter>
            </defs>
        </svg>
        <hr id="background"/>
        <div class="codex">
            <h1 class="text" id="news_company">Законодательство</h1>
            <h2 class="text" id="codex2">Жилищный кодекс РФ от 29.12.2004 №188-ФЗ.</h2>
            <h2 class="text">Раздел I. ОБЩИЕ ПОЛОЖЕНИЯ.</h2>
            <h2 class="text">Глава 1. ОСНОВНЫЕ ПОЛОЖЕНИЯ. ЖИЛИЩНОЕ ЗАКОНОДАТЕЛЬСТВО.</h2>
            <h2 class="text">Статья 1. Основные начала жилищного законодательства.</h2>
            <p class="text">1. Жилищное законодательство основывается на необходимости обеспечения органами
                государственной власти и органами местного самоуправления условий для осуществления
                гражданами права на жилище, его безопасности, на неприкосновенности и недопустимости
                произвольного лишения жилища, на необходимости беспрепятственного осуществления
                вытекающих из отношений, регулируемых жилищным законодательством, прав
                (далее - жилищные права), а также на признании равенства участников регулируемых
                жилищным законодательством отношений (далее - жилищные отношения) по владению,
                пользованию и распоряжению жилыми помещениями, если иное не вытекает из настоящего
                Кодекса, другого федерального закона или существа соответствующих отношений,
                на необхо+димости обеспечения восстановления нарушенных жилищных прав, их судебной защиты,
                обеспечения сохранности жилищного фонда и использования жилых помещений по назначению.</p>
            <p>2. Граждане по своему усмотрению и в своих интересах осуществляют принадлежащие им жилищные права,
                в том числе распоряжаются ими. Граждане свободны в установлении и реализации своих жилищных прав
                в силу договора и (или) иных предусмотренных жилищным законодательством оснований. Граждане,
                осуществляя жилищные права и исполняя вытекающие из жилищных отношений обязанности, не должны
                нарушать права, свободы и законные интересы других граждан...</p>
            <a id="link" href="http://www.nashdomuk.ru/doc/low/jilkodeks.doc" download="" title="всплывающая подсказка" style="color: red">скачать файл</a>
        </div>
        <hr id="background_button">
    </body>
